---
layout: default
title: Downloads
header: Downloads
---

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for download in site.data.downloads %}
  <div class="col">
    <div class="card h-100">
      {% include card-header.html titel=download.titel icon=download.icon %}
      <div class="card-body">
        <p class="card-text">{{ download.text }}</p>
      </div>
      {% include card-footer.html href=download.datei target="_blank" icon="fa-file-arrow-down" text="Download" %}
    </div>
  </div>
  {% endfor %}
</div>
